@using E_ShopMVC.Models.VMs.Account
@model LoginVM



<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
</head>

<body class="hold-transition login-page">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h2"><b>Giriş </b>Sayfası</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Giriş Yapmak İçin Lütfen Bilgilerinizi Giriniz</p>

                <form asp-action="Login" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Email" name="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Şifre" name="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="RememberMe" id="remember" name="rememberme">
                                <label for="remember">Remember Me</label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>

                        <!-- /.col -->
                    </div>
                </form>


                <!-- /.social-auth-links -->

                @*                 <p class="mb-1">
                    <a href="forgot-password.html">Şifremi Unuttum</a>
                </p> *@
                <p class="mt-3">
                    <a asp-controller="Account" asp-action="UserInsert">Yeni Üye</a>

                    @*<a href="UserInsert" class="text-center">Register a new membership</a>*@

                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
</html>